<h1>Editing club_trip</h1>

<% form_for(@club_trip) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @club_trip %> |
<%= link_to 'Back', club_trips_path %>
