<h3>Club Memberships</h3>

<h2>Current Memberships</h2>
Hit the button below to send yourself the current membership list for
Recreation Services. This button sends you a list of members that have
currently paid memberships, and that state they are student, undergraduate
or graduate, and state that they are "Active" members.
<p>
This button sends the message to the Email that you registered with your account
when you signed up, and not the one in your "contact" if you put one there.
<p>
<%= button_to "Send Me the List", :action => "submit_list" %>