<div class="box">
  <h3>Club Activities</h3>

  <table>
    <tr>
      <th>Activity Name</th>
      <th>Description</th>
      <th/>
    </tr>
  
  <% for club_activity in @club_activities %>
    <tr>
      <td><%= link_to_if current_user && current_user.admin?,
                         club_activity.name,
                         edit_club_activity_path(club_activity) %></td>
      <td><%= club_activity.description %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  <% if current_user && current_user.admin? %>
    <%= link_to 'Create new Club Activity', new_club_activity_path %>
  <% end %>
</div>
