<% if RAILS_ENV=="production" %>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UBEY3JT2T49AN">
<% else %>
<form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AMW64T3VK8HVG">
<% end %>
<table class="paypal_button">
<tr><td><input type="hidden" name="on0" value="Size">Size</td></tr><tr><td><select name="os0">
	<option value="Small">Small </option>
	<option value="Medium">Medium </option>
	<option value="Large">Large </option>
	<option value="X-Large">X-Large </option>
</select> </td></tr>
</table>
<input type="hidden" name="on2" value="slug">
 <%= "<input type='hidden' name='os2' value='#{@current_user.login_slug}'>" %>
<input type="hidden" name="on3" value="memberid">
 <%= "<input type='hidden' name='os3' value='#{@current_user.id}'>" %>
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

