<h3>75th SUOC Reunion Registration</h3>
<strong fontsize="+3">Register for the Event of the Century</strong>
<table>
<tr>
<td><img alt="Step 1" src="/images/Step1.gif"></td>
<td colspan="4">Register Yourself. Please select T-Shirt Size.</td>
</tr>
<%= render :partial => "self_registration_add_cart" %>
<tr>
<td colspan="5">
<hr/>
</td>
</tr>
<tr>
<td><img alt="Step 2" src="/images/Step2.gif"></td>
<td colspan="4">Register any kids and guests you will be paying for.</td>
</tr>
<%= render :partial => "guest_registration_add_cart" %>
<tr>
<td colspan="5">
<hr/>
</td>
</tr>
<tr>
<td><img alt="Step 3" src="/images/Step3.gif"></td>
<td colspan="4">Review your shopping cart and checkout, if you haven't already.<br/>
Please make sure that you did Step 1.
</td>
</tr>
<%= render :partial => "view_cart" %>
</table>