<h3>Reunion Registrants</h3>
<table>
<tr>
<th>Income Summary</th>
</tr>
<tr>
<td>Gross Income</td>
<td class="decimal"><%= @gross_income %></td>
</tr>
<tr>
<td>Gross Fees</td>
<td class="decimal"><%= @gross_fees %></td>
</tr>
<tr>
<td>Net Income</td>
<td class="decimal"><%= @net_income %></td>
</tr>
<tr>
<td colspan="6"><hr/></td>
</tr>
<tr>
<th>Registrant</th>
<th colspan="4">Items</th>
<th>Paid</th>
<th>Fee</th>
<th>Shipping</th>
</tr>
<%= render :partial => "registrant", :collection => @registrants %>
</table>
