<h3>Thanks for Registering for the SUOC 75th Reunion!</h3>

If you don't see your details down here, please refresh the page.

<table>
<tr>
<th>Registrants</th>
<th colspan="5">Items</th>
<th>Paid</th>
<th>Fee</th>
</tr>
<%= render :partial => "registrant", :collection => @registrants %>
</table>