<h3>Who's Going?</h3>

<table>
<tr>
  <th>Name</th>
  <th>Guest Of</th>
  <th>Affilation</th>
  <th>Status</th>
  <th>Year</th>
</tr>
<%= render :partial => "attendee", :collection => @attendees %>
</table>
