<h3>Who's Going?</h3>

<%= @adults %> Adults, <%= @kids1015 %> Kids 10-15, <%= @kids0509 %> Kids 5-9
<p>
<table>
<tr>
  <th>Name</th>
  <th>Guest Of</th>
  <th>Affilation</th>
  <th>Status</th>
  <th>Year</th>
  <th>Type</th>
</tr>
<%= render :partial => "attendee", :collection => @attendees %>
</table>
