<div id="accounts_help" style="display:none">
This section is used to list extra accounts in your ledger at the
bottom so that they tell the balance of other accounts. If you
click "Balance In?" the balances will show up between the "Subtotal"
and "Total" lines. If not, they will show up after the "Total" line.
If you select more than one, put a single digit in the position field
to order them. The label will be displayed on the left of the balance.
</div>