<div id="slug_help" style="display:none">
  <p>
  <p>
  This field is so you have a way to construct this ledger with a name. It
  will default to the name changing to lowercase and changing spaces to '-'.
  So the local URL of "Bank Ledger" will be
  "<%= acct_ledger_path(:id => "bank-ledger") %>".
</div>