<h3>My Activity Chairmanships (<%= @current_user.name %>)</h3>
  <%= render :partial => "edit_club_chair",
             :locals => { :chair => @club_chair } %>
<h3>My Current Chairmanships</h3>
  <% if @current_chairs.nil? || @current_chairs.empty? %>
    You have no current chairships.
  <% else %>
    <%= render :partial => "member_chairs",
               :locals => { :member_chairs => @current_chairs } %>
  <% end %>
<h3>My Past Chairmanships</h3>
  <% if @past_chairs.nil? || @past_chairs.empty? %>
    You have no past chairships.
  <% else %>
    <%= render :partial => "member_chairs",
               :locals => { :member_chairs => @past_chairs } %>
  <% end %>