<%
# This partial renders the editor for the acct_account_type
# Locals:
#   type    The AcctAccountType
#   clazz   The class for the surrounding div, optional.
#
%>
<tr class="">
  <td><%= type.name %></td>
  <td><%= type.description %></td>
<tr>