
/*
 *This deals with <td> and inputs that are aligned for decimal
 *numbers.
 */
 
 /* For some reason I need this .{} just to get the following 
  * stuff to work
  */

.decimal {
  text-align: right;
}

/*
 * Entry and Current_Entry
 *  This is used to wrap member badges and list info in a table
 *  row with borders and such.
 *
 *  The current entry differs in the background color to make
 *  member entries stand out.
 */
.entry {
    margin-bottom: 1em;
}

.entry h2{
    margin-bottom: .5em;
    font-weight:   bold;
    font-size:     153.9%;
}

.entry h3{
    font-size: 123.1%;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ffd735;
    margin:1.5em 0 1em 0;
}

.current_entry {
    border: 1px solid #94beff;
    background: #e1ecff;
    padding: 1em;
}

.current_entry h2{
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 153.9%;
}

.current_entry h3{
    border: none;
    margin: 0 0 .5em 0;
    padding: .5em;
    background: #94beff;
    color: #38465b;
}

/*
 * This is for a medium badge, with pic on the left and list
 * info on the right.
 */

.badge_medium .vcard{
  float: left;
  width: 35em; /*13.8461em; /* about 180px */
  /**width:  13.5em; /* for IE, but is not valid */
}

/* Avatar Header */
.badge_medium .vcard h5{
  float: left;
  width: 100px;
}

.badge_medium .vcard ul{
  margin-left: 66px;
  font-size: 85%;
}

/* Avatar Image and Link */
.badge_medium .vcard h5 a img{
  display: block;
  border: 1px solid #a2a19b;
  padding: 2px;
  background: #fff;
  width: 80px;
}

.badge_medium .vcard h5 a:hover img{
  background: #a2a19b;
}

/* Each Side list element is padded left 20px 
 * to leave room for a small icon.
 */
.badge_medium .vcard ul li{
  padding: 3px 0;
  border-bottom: 1px dotted #a2a19b;
  padding-left: 20px;
  background-color: transparent;
  background-position: left center;
  background-repeat: no-repeat;
}

/* The full name, usually the first list element
 * Will be slightly larger.
 */
.badge_medium .vcard ul li.full_name{
  font-size: 130%;
  font-weight: bold;
  padding:0 0 3px 0;
}

/*
.badge_medium .vcard ul li.update{
  background-image: url(/plugin_assets/community_engine/images/icons/date.png)
}
*/

/*
 * The EntryForm is used to give the same look and feel
 * within entries for club officer, leaders, etc.
 */
.EntryForm {
}

.EntryForm .button-to {
  border: 1px solid #ccc;
  text-align: center;
  background: #777;
  color: #777;
  background: #f8f8f8;
  width: 8em;
}

.EntryForm .button-to input{
  border: 0px solid #ccc;
  padding: 1px;
  padding-left: 1em;          
  padding-right: 1em;
  margin: 1px 0;
  color: #777;
  background: #f8f8f8;
  width: 8em;
}
.EntryForm .button-to input:focus{
  color: #777;
  border-color: #777;
  background: #f8f8f8;
}
.EntryForm .button-to input:hover{
  background:#cccccc;
}

.EntryForm select{
  border:1px solid #ccc;
}

/*
 * Users
 */
.name_list .full_name{
  font-weight: bold;
  padding:0 0 3px 0;
}

/*
 * List of Offices
 */
.offices {
}

.offices .row{
    border: 1px solid #b4dfff;
    background: #f2fdff;
    padding: 1em;
}

.offices .name{
  text-align: top;
  font-weight: bold;
}

.offices .description{
  padding:10px 10px 10px 10px;
}

.offices .name_list .full_name{
  font-weight: bold;
  padding:0 0 3px 0;
}

/*
 * Transactions
 */
.transactions {
}

.transactions .header th{
  padding: 0px 10px 0px 0px;
}

.transactions tr td{
}

.transactions tr.odd {
  background: #f2fdff;
}

.transactions .date_entry input{
  width: 5em;
  background:#F8F8F8 none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  color:#777777;
  font-weight:bold;
  padding:6px;
}

.transactions .description {
  width: 250px;
}

.transactions .description_entry input{
  background:#F8F8F8 none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  color:#777777;
  font-weight:bold;
  padding:6px;
}
.transactions .member_entry, .transactions .description_entry{
  width: 350px;
}
.transactions .year_entry input{
  width: 4em;
  background:#F8F8F8 none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  color:#777777;
  font-weight:bold;
  padding:6px;
}

.transactions .action_entry select{
  background:#F8F8F8 none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  color:#777777;
  font-weight:bold;
  padding:5px;
}

.transactions .decimal_entry input{
  width: 4em;
  background:#F8F8F8 none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  color:#777777;
  font-weight:bold;
  text-align:right;
  padding:6px;
}

.transactions .button {
  text-align: center;
  padding: 6px;
  font-weight: bold;
  text-align: left;
}

.transactions .button input{
  padding-left: 1em;
  padding-right: 1em;
  background: #008000;
  font-size: 123%;
  border: 4px solid #004500;
  color: #fff;
  width: auto;
  cursor: pointer;
}
.transactions .button input:focus{
  color: #777;
  border-color: #777;
  background: #f8f8f8;
}
.transactions .button input:hover{
  background:#cccccc;
}

.memberships table{
  padding: 2em;
}

.memberships th{
  padding: 0px 10px 0px 0px;
}
.memberships .membership td{
  padding: 0px 10px 0px 0px;
}

.memberships .current {
  color: #008800;
}

.membership .date td{
  text-align: left
}


