<h3>Action Types</h3>

<table>
  <tr>
    <th>Name</th>
    <td><%= @action_type.name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @action_type.description %></td>
  </tr>
</table>
<p>
<p>
<%= link_to 'Action Types', acct_action_types_path %>