<%
# Render Current Certifications
# Locals: 
#   member_certs  Collection of CertMemeberCert
%>
<h3>Current Certifications</h3>
<table class="certifications">
  <tr>
    <th>Certification</th>
    <th>Organization</th>
    <th>Issued</th>
    <th>Expires</th>
    <th>Verified By</th>
    <th>Verified Date</th>
  </tr>
  <%= render :partial => "member_cert",
             :collection => member_certs %>
</table>