<div id="invisible_help" class="membership_help">
<h3>Help</h3>
<p>
To register a member for the trip, drag the icon next to their name link from the
Possible Attendees list left into the Members Going
list, or visa versa to remove them from the registration.
<p>
The only members
that are listed in the Possible Attendees list are ones with current paid
memberships, those listed as Active and Life, and those who haven't listed
a status. If anybody is going on the trip that is not listed as a member, please
write their names and any pertinent information in additional notes below.
<p>
<h2>Member Statuses</h2>
<p>
You use the color of the names to determine whether somebody is a current
member. Member name links are colored with following colors if they have:
<ul>
<li><span class="membership_current">A Current Paid Membership</span></li>
<li><span class="membership_Active">listed as Active (no paid membership)</span></li>
<li><span class="membership_Life">Listed as Life (no paid membership)</span></li>
<li><span class="membership_other">Other desination (no paid membership)</span>
<ul>
</div>