<div id="invisible_help" class="membership_help">
<h3>Help</h3>
<p>
To register a member for the trip, start typing his or her name in the box
under "Member Name" in the middle column, called "Add Members". 
As you type, it will find
a few for you, with the top one selected, which is usually the most relevant one. 
The current
selection has a highlighted background. 
If you see the one you want, just click on it or hit RETURN to add
the highlighted entry. Depending on your browser, you may be able to use the arrow keys to select. 
<p>
Once selected and clicked or the RETURN is hit, the member will be added to the list on the right called "Members Going". You may keep adding.
Depending on your browser, you may be able to use the arrow keys to select. The current
selection has a highlighted background.
<p>
If you added a member and they are not going on the trip, you can delete
them from the list by draging their entry to the section below called 
"Members Not Going". They will stay in that list in case you want to add
them back, but will do so only for this editing session. 
You can add them back by dragging their entry back over to the
"Members Going List". 
<p>
If there are a couple members with the same name, the entry will display a 
birthday. Hopefully, this will be good enough to distguish between them.
<h3>Member Statuses</h3>
<p>
You use the color of the names to determine whether somebody is a current
member. Member name links are colored with following colors if they have:
<ul>
<li><span class="membership_current">A Current Paid Membership</span></li>
<li><span class="membership_Active">listed as Active (no paid membership)</span></li>
<li><span class="membership_Life">Listed as Life (no paid membership)</span></li>
<li><span class="membership_other">Other desination (no paid membership)</span>
<ul>
</div>