<h3>New Club Trip Registration</h3>
<%= render :partial => "users/user_badge",
           :locals => { :member => @club_trip_registration.leader } %>

<%= render :partial => "edit_help" %>
<%= render :partial => "edit_tr" %>

<%= render :partial => "footer" %>
