<h3>New Club Trip Registration</h1>
<%= render :partial => "users/user_badge",
           :locals => { :member => @club_trip_registration.leader } %>

<%= render :partial => "edit_help" %>
<%= render :partial => "edit_tr" %>

<%= link_to 'All Pending Trip Registrations', club_trip_registrations_path %>
