<div class="box">
  <h3>Select New Officer</h32>
  <h2>Office of the <%= @club_office.name %></h2>
  <div class="errors"></div>
    <h3>Current Officer(s):</h3>
    <% if !@current_officers.empty? %>
      <table>
        <%= render_officer_list(@current_officers) %>
      </table>
    <% else %>
      There are no current officers assigned for the office of the <%= @club_office.name %>.
    <% end %>
    <h3>Choose New Officer</h3>
    <table>
    <%= render_select(@club_office, @selected_officers) %>
    </table>
</div>
