<h3>My Officerships (<%= @current_user.name %>)</h3>
  <%= render :partial => "edit_club_officer",
             :locals => { :officer => @club_officer } %>
<h3>My Current Officerships</h3>
  <% if @current_officers.empty? %>
    You have no current officerships.
  <% else %>
    <%= render :partial => "member_officers",
               :locals => { :member_officers => @current_officers } %>
  <% end %>
<h3>My Past Officerships</h3>
  <% if @past_officers.empty? %>
    You have no past officerships.
  <% else %>
    <%= render :partial => "member_officers",
               :locals => { :member_officers => @past_officers } %>
  <% end %>