<h3>My Officerships</h3>
  <%= render :partial => "edit_club_officer", :locals => { :officer => @club_officer } %>
<h3>My Current Officerships</h3>
  <% if @current_officers.nil? %>
    You have no current officerships.
  <% else %>
  <div class="EntryForm">
    <table class="listing">
      <th>Officership</th><th>Start Date</th><th>End Date</th>
      <%= render :partial => "officer", :collection => @current_officers %>
    </table>
  </div>
  <% end %>
<h3>My Past Officerships</h3>
  <% if @past_officers.nil? %>
    You have no past officerships.
  <% else %>
  <div class="EntryForm">
    <table class="listing">
      <th>Officership</th><th>Start Date</th><th>End Date</th>
      <%= render :partial => "officer", :collection => @past_officers %>
    <table>
  </div>
  <% end %>