<div class="box">
  <h2>Club Officers Maintainence</h2>
  <h3>Officer</h3>
    <table>
    <%= render_officer_entry(@club_officer) %>
    </table>
</div>

<%= link_to 'Club Offices', club_offices_path %> |
<%= link_to 'Club Activities', club_activities_path %>
