<h3>Certification Type</h3>
<p>
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Description</th>
  </tr>
  <%= render :partial => "cert_type", :object => @cert_org %>
</table>
<p>
<%= link_to "Certification Types", cert_types_path %>
|
<%= link_to "Certification Organizations", cert_orgs_path %>
