<div class="box">
  <h3>Treasurer Ledger (<%= @current_user.name %>)</h3>

  <%= render :partial => "shared/transaction_index_form",
             :locals => {
                :transactions => @transactions,
                :transaction  => @transaction,
                :actions      => @actions,
                :membership   => @membership,
                :balances     => @balances } %>
</div>
