<div class="box">
  <h3>Club Leaderships</h3>

  <table>
    <tr>
      <th>Leadership Name</th>
      <th>Description</th>
      <th/>
    </tr>
  
  <% for club_leadership in @club_leaderships %>
    <tr>
      <td><%= link_to_if current_user && current_user.admin?,
                         club_leadership.name,
                         edit_club_leadership_path(club_leadership) %></td>
      <td><%= club_leadership.description %></td>
      <% if current_user && current_user.admin? %>
        <td><%= link_to "Select Leader", 
                 { :action => :select_new_leader, :id => club_leadership.id } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  
  <br />
  <% if current_user && current_user.admin? %>
    <%= link_to 'Create new Club Leadership', new_club_leadership_path %>
  <% end %>
</div>
