<%
# This partial lists the years and name of an leader.
# It gets rendered by "_drop_leader_list.html.erb"
# locals :
#     drop_leader  The ClubLeader
%>
<tr>
  <td><%= "#{drop_leader.start_date.strftime("%Y")}" %></td>
  <td><%= drop_leader.member.name %></td>
</tr>
