<%
# This partial lists the years and name of the leaders
# locals :
#     leaders  Collection of ClubLeader
#     leadership  ClubLeadership
%>
<table>
<tr>
  <th colspan="2"><%= leadership.name %></th>
</tr>
<%= render :partial => "club_leaderships/drop_leader", :collection => leaders %>
</table>
