<%
# This partial lists the years and name of the leaderrs
# locals :
#     leaders  Collection of ClubLeader
%>
<table>
<tr>
  <th>Year</th>
  <th>Name</th>
</tr>
<%= render :partial => "club_leaderships/leader", :collection => leaders %>
</table>
