<div class="box">
  <h3>Edit Leader</h3>
  <h2>Leadership of <%= @club_leadership.name %>
  <div class="errors"></div>
    <% form_for(@club_leader, 
        :html => { :class => "MainForm" }) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :id %>
    <%= render_leader_entry(@club_leader} %>
    <% end %>
</div>
