<h3>Editing Certification Organization</h1>
<%= render :partial => "form" %>
<p>
<p>
<%= link_to 'Certification Types', cert_types_path %>
|
<%= link_to 'Certification Organizations', cert_orgs_path %>
