<h3>My Leaderships</h3>
  <%= render :partial => "edit_club_leader", :locals => { :leader => @club_leader } %>
<h3>My Current Leaderships</h3>
  <% if @current_leaders.nil? || @current_leaders.empty? %>
    You have no current leaderships.
  <% else %>
  <div class="EntryForm">
    <table class="listing">
      <th>Leadership</th><th>Start Date</th>
      <%= render :partial => "leader", :collection => @current_leaders %>
    </table>
  </div>
  <% end %>
<h3>My Past Leaderships</h3>
  <% if @past_leaders.nil? || @past_leaders.empty? %>
    You have no past leaderships.
  <% else %>
  <div class="EntryForm">
    <table class="listing">
      <th>Leadership</th><th>Start Date</th><th>End Date</th>
      <%= render :partial => "leader", :collection => @past_leaders %>
    <table>
  </div>
  <% end %>