<div class="box">
  <h3>Club Dashboard</h3>
  <table>
    <tr>
      <td>
        <%= link_to "Offices", club_offices_path %>
      </td>
    <tr>
    </tr>
      <td>
        <%= link_to "Activities", club_activities_path %>
      </td>
    <tr>
    </tr>
      <td>
        <%= link_to "Leaderships", club_leaderships_path %>
      </td>
    </tr>
  </table>
</div>