<h3>Account Actions</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Target Account</th>
    <th>Category</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <%= render :partial => "acct_action", :collection => @acct_actions %>
</table>

<p>
<%= link_to "New Account Action", new_acct_action_path %>
<p>